body{
    font-family: 'Barlow', sans-serif;
    background-color: #F8F8FF;
}

header{
    width: 100%;
    display: flex;
    padding: 5px;
    background-color: #e0f0e0;
    box-shadow: 1px 1px 10px #b0b0b0;
    margin-bottom: 1%;

}
.titleHeader{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    margin-right: 2%;
}

.pesonalPictureContainer{
    width: 20%;
}

.personalPicture{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.navBarHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.navBarList{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    gap: 5%;
}

.navBarItem{
    display: inline-block;
}

.navBarItem a{
    font-size: 18px;
    text-decoration: none;
    color: #222;
    font-weight: 600;
    
}

.navBarItem a:hover{
    color: #4e4c4c;
}

.welcomeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: #f0f0f0;
    box-shadow: 1px 1px 10px #b0b0b0;
    margin-bottom: 5%;
    gap: 5%;
}

.personalDescriptionContainer{
    width: 50%;
    margin: 0;
    font-size: 45px;
    font-weight: 700;
}

.subtitle{
    font-size: 30px;
    font-weight: 600px;
    margin-bottom: 1%;
}

.Text{
    font-size: 20px;
    font-weight: 600;
    width: 100%;
}

.descriptionPictureContainer{
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionPicture{
    width: 90%;
}

footer{
    color: #f0f0f0;
    width: 100%;
    background-color: #434242 ;
    text-align: center;
    padding: 15px 0;
    margin-top: 3%;
}

footer .socialLinks a{
    color: #f0f0f0;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

footer .socialLinks a:hover{
    color: #1E90FF ;
}

.aboutMeContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2%;
    background-color: #f0f0f0;
     box-shadow: 1px 1px 10px #b0b0b0;
     margin-bottom: 3%;
     
}

.aboutmMeDescription{
    width: 80%;
    margin: 1%;
}

.skillsContainer{
    width: 90%;
    margin: 0 auto 3% auto;
    padding: 2%;
    background-color: #e0f0e0;
    box-shadow: 1px 1px 10px #b0b0b0;
    margin-bottom: 3%;
}
.sectionTitle{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin: 2% 0;
    color: #222;
}

.skillsGrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 1%;
}

.skillBox{
    background-color: #f0f0f0;
    padding: 4%;
    border-radius: 8px;
    box-shadow: 1px 1px 10px #b0b0b0;
}

.skillBox:hover{
    scale: 103%;
    background-color: #4898e7;
}

.skillsTitle{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #222;
}

.skillText{
    font-size: 16px;
    font-weight: 400;
    color: #444;
}

.interestContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3%;
}

.interestText{
    width: 50%;
    padding: 1%;
}

.interestImageContainer{
    width: 100%;
    margin-right: 1%;

}

.interestImage{
    width: 50%;
}

